.cell {
  text-align: center;
  position: relative;
  cursor: pointer;
  padding: 0;
  width: 90px;
}

.cell div {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.closestCell {
  background: #02a9f4;
}
